/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #f1f1f1; /* Optional: Add a background color for the footer */
  position: absolute;
  bottom: 0;
}